:root {
    --off: #8b0000;
    --on: #006400
}

@media (prefers-color-scheme: dark) {
    :root {
        --off: red;
        --on: #0c0
    }
}

nav {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    line-height: 1.2;
    padding: 1rem 0
}

.page-title {
    font-size: 150%;
    font-weight: 700;
    margin: 0;
    border: none;
    text-decoration: none
}

#account {
    margin-left: auto;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

#authorize {
    display: block;
    margin: 0 auto;
}

.toggle-button {
    color: var(--bg);
    border: 1px solid var(--bg)
}

.toggle-button-off {
    background: var(--off)
}

.toggle-button-on {
    background: var(--on)
}

.toggle-secondary-button-off {
    background: var(--bg);
    color: var(--off);
    border: 1px solid var(--off)
}

.toggle-secondary-button-on {
    background: var(--bg);
    color: var(--on);
    border: 1px solid var(--on)
}

.secondary-button {
    background: var(--bg);
    color: var(--accent);
    border: 1px solid var(--accent)
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--accent-bg);
    padding: 5rem 1rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
